:root {
    --sidebar-width: 300px;
    --sidebar-resize-indicator-width: 8px;
    --sidebar-resize-indicator-space: 2px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
    --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    --code-font-size: 0.875em
        /* please adjust the ace font size accordingly in editor.js */
    ;
}

.hljs {
    color: #eee0d4 !important;
    background: #0c0906 !important;
    border: 1px solid rgba(197, 200, 198, 0.2) !important;
    border-radius: 5px;
}

.mdbook-alerts {
    border-radius: 0 5px 5px 0;
}

.whisky {
    --bg: #18120c;
    --fg: #ffffff;

    --sidebar-bg: #251e17;
    --sidebar-fg: rgb(255, 255, 255);
    --sidebar-non-existant: #505254;
    --sidebar-active: rgb(245, 158, 11);
    --sidebar-spacer: #393939;

    --scrollbar: var(--sidebar-fg);

    --icons: #eee0d4;
    --icons-hover: rgb(245, 158, 11);

    --links: rgb(245, 158, 11);

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #141617;
    --theme-popup-border: #43484d;
    --theme-hover: #1f2124;

    --quote-bg: #403830;
    --quote-border: #9c8e80;

    --warning-border: #ff8e00;

    --table-border-color: rgba(197, 200, 198, 0.2);
    --table-header-bg: transparent;
    --table-alternate-bg: rgba(197, 200, 198, 0.2);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #b7b7b7;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #98a3ad;
    --searchresults-li-bg: #2b2b2f;
    --search-mark-bg: #355c7d;

    --color-scheme: dark;
}